@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap');

nav{
    /* border: 2px red solid; */
    display: flex;
    justify-content:space-between ;
    background: #02181C;
    padding: 30px;
}

.Links{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-top: 10px;
}


/* .blur1{
    background: #CEF287;
    filter: blur(500px);
    width: 443px;
    height: 140px;
    border: 2px red solid;
} */

.TextContainer{
    /* border: 2px red solid; */
    background: #02181C;
    text-align: center;
}

.TextContainer > div:nth-child(1)
{
    font-family: 'Poppins';
    /* font-style: normal; */
    font-weight: 800;
    font-size: 116px;
    line-height: 174px;
    text-align: center;
    background: linear-gradient(90.73deg, #CEF287 34.94%, #0EE9E8 80.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-top: 50px;
}

.TextContainer > div:nth-child(2)
{
    /* font-family: 'Spartan'; */
    font-style: normal;
    margin-top: 30px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 31px;
    line-height: 35px;
    color: #FFFFFF;
}

.TextContainer > div:nth-child(3){
    background: #000000;
    /* margin-top: 60px; */
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 24px;
    width: 30%;
    margin: 60px auto 0px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.TextContainer > div:nth-child(3) > button{
    background: #FFFFFF;
    border-radius: 16px;
    padding: 15px;
}

.TextContainer > div:nth-child(3) > input{
    background: transparent;
    border-radius: 16px;
    padding: 15px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
    outline: none;
}

.TextContainer > div:nth-child(4){
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 30px;
}

footer{
    text-align: center;
    /* border: 2px red solid; */
    background: #02181C;
    padding: 83px 20px 20px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;

}