@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

nav{
    display: flex;
    justify-content:space-between ;
    background: #02181C;
    padding: 20px 110px 0px 110px;
    align-items: center;
    /* border: 2px red solid; */
}

.Links{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-top: 15px;
    margin-left: -8%;
}

.TextContainer{
    background: #02181C;
    text-align: center;
    font-size: 5em;
    width: 90%;
    margin: auto;
    padding: 0.8em 0em 0.8em 0em;
    /* border: 2px blue solid; */
}

.TextContainer > div:nth-child(1){
    color: wheat;
    float: left;
    font-size: 0.6em;
    width: 40%;
    filter: blur(3em);
    background: linear-gradient(90deg, #CEF287 50%, #CEF287 50%);
    /* border: 2px red solid; */
}

.TextContainer > div:nth-child(2){
    width: 40%;
    margin-left: auto;
    /* border: 2px green solid; */
}

.TextContainer > div:nth-child(2) > img:nth-child(2){
    margin: 5% 0% 0% 35%;
}


/* Coming Soon */
.TextContainer > div:nth-child(3)  
{
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 1.1em;
    text-align: center;
    background: linear-gradient(90.73deg, #CEF287 34.94%, #0EE9E8 80.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* border: 2px blue solid; */
    clear: both;
}


/* The Front Page ... */
.TextContainer > div:nth-child(4)
{
    width: 50%;
    margin: 0.2em auto;
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.28em;
    color: #FFFFFF;
}

.TextContainer > div:nth-child(4) > img
{
    margin-top: 20px;
    float: left;
}


/* Input Field */
.TextContainer > div:nth-child(5){
    background: #000000;
    border: 0px solid rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 5px white;
    border-radius: 24px;
    width: 30%;
    margin: 0.4em auto 0px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.TextContainer > div:nth-child(5) > input{
    background: transparent;
    border-radius: 16px;
    padding: 5px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 500;
    font-size: 0.2em;
    color: #FFFFFF;
    outline: none;
}

.TextContainer > div:nth-child(5) > button{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 5px 10px 10px 5px;
    font-size: 0.2em;
}

/* No worries ... */
.TextContainer > div:nth-child(6){
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    margin-top: 0.5em;
    font-size: 0.25em;
    color: #FFFFFF;
    opacity: 0.5;
}


/* Img4 */
.TextContainer > div:nth-child(7){
    width: 100%;
    margin-left: auto;
}

.TextContainer > div:nth-child(7) > img{
    /* border: 2px red solid; */
    margin-left: 70%;
}

.blur2{
    float: right;
    background: #0CCFCE;
    filter: blur(80px);
    width: 40%;
    font-size: 0.4em;
    /* border: 2px red solid; */
}

footer{
    text-align: center;
    background: #02181C;
    padding: 80px 0px 10px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    font-size: 1em;
    /* border: 2px red solid; */
}

@media screen and (min-width:320px) {
    nav{
        padding: 20px 0px 0px 0px;
        flex-direction: column;
    }

    nav > img{
        height: 3em;
        width: 6em;
    }

    .twitter{
        display: none;
    }

    .Links{
        width: 60%;
        margin: auto;
    }
    
    .TextContainer{
        font-size: 2em;
        margin-top: 15%;
        width: 90%;
    }

    .TextContainer > div:nth-child(2){
        width: 40%;
    }
    
    .TextContainer > div:nth-child(3){
        width: 100%;
        margin-top: 0.5em;
        font-size: 1.5em;
        line-height: 1.1em;
    }
    
    .TextContainer > div:nth-child(4){
        width: 100%;
        font-size: 0.45em;
    }

    .TextContainer > div:nth-child(4) > img {
        display:none;
    }

    .TextContainer > div:nth-child(5){
        width: 80%;
        font-size: 1em;
        margin-top: 1em;
    }

    .TextContainer > div:nth-child(5) > input{
        font-size: 0.35em;
        text-align: center;
        justify-content: center;
    }

    .TextContainer > div:nth-child(5) >button{
        font-size: 0.4em;
        width: 40%;
        margin: auto;
        padding: 2px ;
    }

    .TextContainer > div:nth-child(6){
        width: 100%;
        font-size: 0.5em;
    }

    footer{
        font-size: 0.7em;
        padding:70px 10px 0px 10px ;
    }
}

@media screen and (min-width:375px) {   
    .TextContainer{
        margin-top: 10%;
    }
}


@media screen and (min-width:425px) and (max-width:600px) {   

    .TextContainer > div:nth-child(3){
        font-size: 1.7em;
    }
    
    .TextContainer > div:nth-child(4) >img{
        display: block;
    }

    .TextContainer > div:nth-child(4){
        font-size: 0.6em;
    }
    
    .TextContainer > div:nth-child(5) > input{
        width: 100%;
        font-size: 0.4em;
    }

    .TextContainer > div:nth-child(5) > button{
        width: 70%;
        font-size: 0.5em;
        font-weight: 500;
    }
    
    footer{
        font-size: 0.8em;
        padding:40px 10px 0px 10px ;
    }
}


@media screen and (min-width:600px) {

    .TextContainer > div:nth-child(3){
        font-size: 1.8em;
    }
    
    .TextContainer > div:nth-child(4) >img{
        display: block;
    }

    .TextContainer > div:nth-child(5){
        width: 60%;
        font-size: 1.2em;
    }
    
    .TextContainer > div:nth-child(5) > input{
        width: 100%;
        font-size: 0.4em;
    }

    .TextContainer > div:nth-child(5) > button{
        width: 60%;
        font-size: 0.45em;
        font-weight: 500;
    }

    .TextContainer > div:nth-child(6){
        width: 100%;
        font-size: 0.55em;
    }
    
    footer{
        font-size: 0.9em;
        padding:40px 10px 0px 10px ;
    }   
}


@media screen and (min-width:768px) {
    nav{
        display: flex;
        flex-direction: row;
        padding: 30px 60px 0px 60px;
    }

    .Links{
        width: 40%;
    }

    .twitter{
        display: block;
    }
    
    .TextContainer{
        margin: 6% auto 0% auto;
    }

    .TextContainer > div:nth-child(3){
        font-size: 2.2em;
        width: 45%;
        margin: auto;
    }
    
    .TextContainer > div:nth-child(4){
        width: 70%;
        font-size: 0.7em;
    }
    
    .TextContainer > div:nth-child(5) > input{
        width: 100%;
        font-size: 0.5em;
    }

    .TextContainer > div:nth-child(5) > button{
        width: 60%;
        font-size: 0.5em;
        font-weight: 500;
    }
    
    footer{
        font-size: 0.9em;
        padding:30px 10px 0px 10px ;
    }   
}


@media screen and (min-width:1024px) {
    nav{
        padding: 50px 60px 0px 50px;  
    }

    .Links{
        width: 35%;
    }
    
    .TextContainer{
        width: 90%;
        font-size: 3em;
        margin: 2% auto 0% auto;
    }

    .TextContainer > div:nth-child(3){
        width: 60%;
        font-size: 1.5em;
        padding-bottom: 10px;
    }
    
    .TextContainer > div:nth-child(4){
        width: 60%;
        font-size: 0.5em;
    }

    .TextContainer > div:nth-child(5){
        width: 45%;
        margin-top: 3%;
    }
    
    
    .TextContainer > div:nth-child(5) > input{
        width: 60%;
        font-size: 0.3em;
    }

    .TextContainer > div:nth-child(5) > button{
        width: 40%;
        font-size: 0.35em;
        font-weight: 500;
    }
    .TextContainer > div:nth-child(6){
        font-size: 0.4em;
    }
    
    footer{
        font-size: 0.8em;
        padding:75px 10px 20px 10px ;
    }   
}


@media screen and (min-width:1440px) {
    nav{
        display: flex;
        justify-content:space-between ;
        background: #02181C;
        padding: 20px 110px 0px 110px;
        align-items: center;
        /* border: 2px red solid; */
    }
    
    .Links{
        font-size: 1em;
        display: flex;
        justify-content: space-between;
        width: 28%;
        padding-top: 15px;
    }
    
    .TextContainer{
        background: #02181C;
        text-align: center;
        font-size: 5em;
        width: 90%;
        margin: auto;
        padding: 1em 0em 0.8em 0em;
        /* border: 2px blue solid; */
    }
    
    .TextContainer > div:nth-child(1){
        color: wheat;
        float: left;
        font-size: 0.6em;
        width: 40%;
        filter: blur(3em);
        background: linear-gradient(90deg, #CEF287 50%, #CEF287 50%);
        /* border: 2px red solid; */
    }
    
    .TextContainer > div:nth-child(2){
        width: 40%;
        margin-left: auto;
        /* border: 2px green solid; */
    }
    
    .TextContainer > div:nth-child(2) > img:nth-child(2){
        margin: 5% 0% 0% 35%;
    }
    
    
    /* Coming Soon */
    .TextContainer > div:nth-child(3)  
    {
        font-family: 'Poppins';
        font-weight: 900;
        font-size: 1.1em;
        text-align: center;
        background: linear-gradient(90.73deg, #CEF287 34.94%, #0EE9E8 80.09%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        /* border: 2px blue solid; */
        clear: both;
    }
    
    
    /* The Front Page ... */
    .TextContainer > div:nth-child(4)
    {
        width: 50%;
        margin: 0.2em auto;
        font-family: 'League Spartan', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 0.28em;
        color: #FFFFFF;
    }
    
    .TextContainer > div:nth-child(4) > img
    {
        margin-top: 20px;
        float: left;
    }
    
    
    /* Input Field */
    .TextContainer > div:nth-child(5){
        background: #000000;
        border: 0px solid rgba(255, 255, 255, 0.5);
        box-shadow: 1px 1px 5px white;
        border-radius: 24px;
        width: 30%;
        margin: 0.4em auto 0px auto;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    
    .TextContainer > div:nth-child(5) > input{
        background: transparent;
        border-radius: 16px;
        padding: 5px;
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 500;
        font-size: 0.2em;
        color: #FFFFFF;
        outline: none;
    }
    
    .TextContainer > div:nth-child(5) > button{
        background: #FFFFFF;
        border-radius: 10px;
        padding: 5px 10px 10px 5px;
        font-size: 0.2em;
    }
    
    /* No worries ... */
    .TextContainer > div:nth-child(6){
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 400;
        margin-top: 0.5em;
        font-size: 0.25em;
        color: #FFFFFF;
        opacity: 0.5;
    }
    
    
    /* Img4 */
    .TextContainer > div:nth-child(7){
        width: 100%;
        margin-left: auto;
    }
    
    .TextContainer > div:nth-child(7) > img{
        /* border: 2px red solid; */
        margin-left: 70%;
    }
    
    .blur2{
        float: right;
        background: #0CCFCE;
        filter: blur(80px);
        width: 40%;
        font-size: 0.4em;
        /* border: 2px red solid; */
    }
    
    footer{
        padding: 90px 0px 10px 0px;
        color: #FFFFFF;
        font-size: 1em;
    }   
}






